doctype html
html(lang='en')
    include head
    body
        include menu
        .container.col-xs-10.col-xs-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
            .jumbotron(style="text-align: center;")
                h1 Excelastic #{context.version}
                if (context.connected)
                    p Import excel files into #[a(href=context.esURL)  ElasticSearch #{context.esVersion}]
                    if (context.tls)
                        span.badge.badge-pill.badge-primary(style="margin-top:-22px;")
                            | TLS ENABLED
                else
                    p.text-danger Not connected, #[a(href=".") refresh?]
        div.col-xs-10.col-xs-offset-1.col-lg-4.col-lg-offset-4
            .panel.panel-info
                .panel-heading#panelheader Supported file types: #{context.supportedFiles}!
                .panel-body
                    div#progress
                        .progress
                            .progress-bar.progress-bar-striped.active(role="progressbar", style="width: 100%")#progress-bar
                                span.sr-only Uploading...
                    form#upload.form-horizontal(enctype='multipart/form-data', method='POST', action='/api/upload')
                        input#uploadId(hidden='true', value='', name='uploadId')
                        fieldset
                            .form-group
                                label.col-lg-3.control-label(for='index') Index
                                .col-lg-9
                                    input#index.form-control(type='text', name='index', placeholder='name of index', value='#{context.index}')
                            .form-group
                                label.col-lg-3.control-label(for='mapping') Mapping
                                .col-lg-9
                                    input#index.form-control(type='text', name='mapping', placeholder='default')
                            a.text-center.clickable#excel-options-show
                                show excel options
                            .form-group(hidden)#excel-options
                                label.col-lg-3.control-label(for='offset') Title-row
                                .col-lg-9
                                    input#offset.form-control(type='text', name='offset', value='1')
                            .form-group
                                label.col-lg-2.control-label(for='clear')
                                .col-xs-12
                                    .btn-group(data-toggle='buttons', style='display: flex; justify-content: space-evenly;')
                                        label.btn.btn-info.active
                                            input(type='radio', value='add', name='options', checked='')
                                            | Add values
                                        label.btn.btn-info
                                            input(type='radio', value='clear', name='options')
                                            | Clear existing
                            label.btn.btn-block.btn-info.btn-file
                                | UPLOAD
                                input#file(type='file', name='file', style='display: none;')
        include scripts
